<div class="col-xs-4 col-md-1">
    <div class="pretty p-switch">
        {{ form.c_style }}
        <div class="state">{{ form.c_style.label }}</div>
    </div>
</div>

<div class="col-xs-4 col-md-1">
    <div class="pretty p-switch">
        {{ form.c_class }}
        <div class="state">{{ form.c_class.label }}</div>
    </div>
</div>

<div class="col-xs-4 col-md-1">
    <div class="pretty p-switch">
        {{ form.c_width }}
        <div class="state">{{ form.c_width.label }}</div>
    </div>
</div>

<div class="col-xs-4 col-md-1">
    <div class="pretty p-switch">
        {{ form.c_height }}
        <div class="state">{{ form.c_height.label }}</div>
    </div>
</div>

<div class="col-xs-4 col-md-1">
    <div class="pretty p-switch">
        {{ form.c_lang }}
        <div class="state">{{ form.c_lang.label }}</div>
    </div>
</div>

<div class="col-xs-4 col-md-1">
    <div class="pretty p-switch">
        {{ form.c_align }}
        <div class="state">{{ form.c_align.label }}</div>
    </div>
</div>

<div class="col-xs-4 col-md-1">
    <div class="pretty p-switch">
        {{ form.c_face }}
        <div class="state">{{ form.c_face.label }}</div>
    </div>
</div>

<div class="col-xs-4 col-md-1">
    <div class="pretty p-switch">
        {{ form.c_size }}
        <div class="state">{{ form.c_size.label }}</div>
    </div>
</div>

<div class="col-xs-4 col-md-1">
    <div class="pretty p-switch">
        {{ form.c_cellspacing }}
        <div class="state">{{ form.c_cellspacing.label }}</div>
    </div>
</div>

<div class="col-xs-4 col-md-1">
    <div class="pretty p-switch">
        {{ form.c_cellpadding }}
        <div class="state">{{ form.c_cellpadding.label }}</div>
    </div>
</div>
