<!DOCTYPE html>
<html lang="en">
  <head>
   <title>Hclean-app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">

    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>

    tinymce.init({
      selector: 'textarea',
      height: 250,
      plugins: [
        'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code fullscreen',
        'insertdatetime media nonbreaking save table contextmenu directionality',
        'emoticons template paste textcolor colorpicker textpattern imagetools'
      ],
      toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
      toolbar2: 'print preview media | forecolor backcolor emoticons',
      image_advtab: true,
     });
  </script>

  <style>
  {{ the_css }}
  </style>

</head>
  <body style="background: #a9a9a9;">
<div class="container" style="background: white;">

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p class="bg-info">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

    {% block content%}{% endblock %}

</div>


  </body>
</html>
